.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.score {
}

.grid {
  height: 300px;
  width: 300px;
  display: grid;
}

.square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid rgba(211, 211, 211, 0.279) 1px;
}

.square.tail {
  /* background-color: lightblue; */
}

.square.head {
  /* background-color: rgb(132, 214, 241); */
}

.square.tail::after,
.square.head::after {
  position: relative;
  content: "";
  height: 100%;
  width: 100%;
  background-color: lightblue;
  border-radius: 8px;
}

.square.head::after {
  background-color: rgb(92, 211, 250);
}

.square.apple::after {
  position: relative;
  content: "";
  height: 50%;
  width: 50%;
  background-color: red;
  border-radius: 100%;
}

.square.;
